services:
  db:
    image: postgres:17
    shm_size: 1g
    ports:
      - "5432:5432"
    command: postgres -c 'max_connections=250'
    environment:
      POSTGRES_PASSWORD: "Pass1234!"
    restart: always