services: 
  postgresdb:
    image: postgres:17
    container_name: postgresdb
    shm_size: 1g
    ports:
      - "5433:5432"
    command: postgres -c 'max_connections=250'
    environment:
      POSTGRES_PASSWORD: "Pass1234!"
    restart: always
  
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9090:9090"
      - "9000:9000"
    environment:
      MINIO_ROOT_USER: "admin"
      MINIO_ROOT_PASSWORD: "Pass1234!"
    volumes:
      - ./minio/data:/mnt/data
    command: server --console-address ":9090" /mnt/data
    restart: always
  
  redis:
    image: redis:6.2.6-alpine
    ports:
      - "6379:6379"
    command: redis-server --requirepass Pass1234!
    restart: always
  
  migration:
    image: hungnn2810/lifebalance-backend:migration-latest
    container_name: migration
    depends_on:
      - postgresdb
    restart: on-failure
  
  api:
    image: hungnn2810/lifebalance-backend:latest
    container_name: api
    ports:
      - "5001:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      AUTHENTICATION__GOOGLE__CLIENTID: "574707967522-thu8k7qupvmuk4fidncs6k42t9h7ufl7.apps.googleusercontent.com"
      ConnectionStrings__Default: "User ID=postgres;Password=Pass1234!;Host=postgresdb;Port=5432;Database=lifebalance;Pooling=true;"
      Jwt__Issuer: "LifeBalanceApi"
      Jwt__Audience: "LifeBalanceApiUsers"
      Jwt__Secret: "7fe33c9d239c68eadce0cc0e724d8741"
      Jwt__ExpireMinutes: 60,
      Jwt__RefreshExpireDays: 30
    depends_on:
      - migration
    restart: always

volumes:
  grafana-db:
  prometheus-db:
  portainer-db: